.body .form 
{
	margin:23px 0 0 21px;
    font-family: 'MyYaHei';
}
.body .form .topborder {
	background: url("../images/border.jpg") repeat-x scroll right center transparent;
	width:665px;
	overflow:hidden;
	margin:0 21px;
}
.body .form .message 
{
	margin: 5px 21px;
    background-color: lemonchiffon;
}
.body .form .fields {
    margin: 0 21px;
}

.body .form .fields .field {
    padding-bottom: 30px;
    padding:0px 5px 30px 5px;
}

.body .form .fields .field .double
{
    width: 20px;
}

.body .form .fields .identity 
{
    width: 32px;
    height: 32px;
    display: block;
    border: none;
	background: url("../images/icons/identity.png") no-repeat center transparent;
}

.body .form .fields .gender 
{
    width: 32px;
    height: 32px;
    display: block;
    border: none;
    display: inline-block;
    vertical-align:text-bottom;
}

.body .form .label {
    color: #6b6b6b;
    font-weight: bold;
    font-size: 20px;
}
.body .form .viewcommand, .editcommand {
    float: right;
	margin:0 21px;
}

.body .form .viewcommand .close , .edit {
    width: 32px;
    height: 32px;
    display:inline-block;
}

.body .form .viewcommand .close 
{
	background: url("../images/icons/delete.png") no-repeat center transparent;
}
.body .form .viewcommand .edit
{
	background: url("../images/icons/edit.png") no-repeat center transparent;
}

.body .form .editcommand .save , .reset, .cancel{
    width: 32px;
    height: 32px;
    border: none;
	padding:5px;
	margin:0px;
    display: inline-block;
    cursor: pointer;
}

.body .form .editcommand .save
{
    cursor:pointer;
    margin:2px;
    line-height:32px;
    background: url("../images/icons/save.png") no-repeat center transparent;
}

.body .form .editcommand .reset{
	background: url("../images/icons/refresh.png") no-repeat center transparent;
}

.body .form .editcommand .cancel{
	background: url("../images/icons/delete.png") no-repeat center transparent;
}

.validatorCalloutHighlight
{
    background-color: lemonchiffon;
}

.MaskedEditFocus
{
    background-color: #ffffcc;
    color: #000000;
}
.MaskedEditError
{
    background-color: #ffcccc;
}

