.body .list 
{
	margin:23px 0 0 21px;
    font-family: 'MyYaHei';
    padding-bottom: 23px;
}
.body .list .title {
	background: url("../images/border.jpg") repeat-x scroll right center transparent;
	width:665px;
	overflow:hidden;
	margin:0 21px;
    padding: 20px 0px 10px 0px;
}

.body .list .title span {
	background-color: #FFFFFF;
	color: #e3e3e3;
	display: inline;
    font-family: 'MyYaHei';/*'Conv_Muli-Regular';*/
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin: 22px 0;
	padding: 0 11px 0 0;
    letter-spacing: 10px;
    font-weight: bold;
}

.body .list .message 
{
	margin: 5px 21px;
    background-color: lemonchiffon;
}

.body .list .label {
    color: #6b6b6b;
    font-weight: bold;
    font-size: 20px;
}
.body .list .listcommand {
	width:665px;
	overflow:hidden;
	margin:0 21px;
}

.body .list .listcommand .add, .refresh 
{
    width: 32px;
    height: 32px;
    display: block;
    border:none;
    cursor: pointer;
}

.body .list .listcommand .add {
    float: left;
    left: 0px;
	background: url("../images/icons/add.png") no-repeat center transparent;
}

.body .list .listcommand .refresh{
    float: right;
    right: 0px;
	background: url("../images/icons/refresh.png") no-repeat center transparent;
}

.body .list .records
{
	width:665px;
	margin:0 0 0 21px;
	/*overflow:hidden;*/
}

.body .list .records .empty
{
	width:665px;
    border-collapse: collapse;
}

.body .list .records .empty thead {
    background-color: #5D7B9D;
    color: #fff;
    font-weight: bold;
}

.body .list .records .empty tbody 
{
    background-color: #F7F6F3;
    color: #333333;
    text-align: center;
}
.body .list .records .gender
{
	width:32px;
	width:32px;
	border:none;
	padding:0px;
	margin:0px;
	display:inline-block;
}

.body .list .records .edit, .delete, .select, .save, .cancel {
    width: 32px;
    height: 32px;
    display:inline-block;
    border:none;
    cursor: pointer;
}

.body .list .records .edit {
	background: url("../images/icons/edit.png") no-repeat center transparent;
}

.body .list .records .delete {
	background: url("../images/icons/delete.png") no-repeat center transparent;
}

.body .list .records .select {
	background: url("../images/icons/select.png") no-repeat center transparent;
}

.body .list .records .save 
{
    background: url("../images/icons/save.png") no-repeat center transparent;
}

.body .list .records .cancel 
{
	background: url("../images/icons/delete.png") no-repeat center transparent;
}

.body .list .records .double
{
    width: 20px;
}
.MaskedEditFocus
{
    background-color: #ffffcc;
    color: #000000;
}
.MaskedEditError
{
    background-color: #ffcccc;
}

.confirmpanel {
    width:200px; 
    background-color:White; 
    border-width:2px; 
    border-color:Black; 
    border-style:solid; 
    padding:20px;
}
.windowBg {
   	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7; 
}
.confirmcommand {
    text-align: right;
}