.body .login
{
    padding: 0 0 575px;
}
.body .login p
{
    font-size: 13px;
    margin-bottom: 24px;
}

.body .login .label
{
    display: block;
    font-family: 'Conv_Muli-Regular';
    font-size: 13px;
    color: #868686;
}
.body .login .text
{
    background: url(../images/bg-contact-input.jpg) repeat-x;
    border: 0 none;
    margin: 6px 0 15px;
    padding: 7px 5px;
    width: 318px;
    border-width: 1px;
    border-color: #e8e8e8;
    border-style: none solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FEFEFE;
}

.body .login .button
{
    display: block;
    background: url(../images/submit.jpg) no-repeat;
    border: 0;
    width: 127px;
    height: 40px;
    cursor: pointer;
    color: #fff;
}

.body .login .button:hover
{
    color: #e5e5e5;
}
