.body .login 
{
	width:665px;
    margin:30px 20px;
}

.body .login ul 
{
    margin: 20px 21px;
}

.body .login ul li {
    margin-top: 30px;
	overflow:hidden;
    list-style: none;
}
.body .login ul li h2 {
	background: url("../images/border.jpg") repeat-x scroll right center transparent;
	margin: 0 0 0 30px;
	overflow:hidden;
}
.body .login ul li h2 span {
	background-color: #FFFFFF;
	color: #7D7D7D;
	display: inline;
    font-family: 'MyYaHei';/*'Conv_Muli-Regular';*/
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin: 22px 0;
	padding: 0 11px 0 0;
    letter-spacing: 10px;
}
.body .login ul li div {
	margin:35px 0 0 29px;
	width:251px;
	min-height:290px;
	height:auto;
	float:left;
}
.body .login ul li p {
	float: left;
	padding: 0 25px 0 40px;
	width: 400px;
	margin: 20px 0;
    font-family: 'MyYaHei';/*'Conv_Muli-Regular';*/
	font-size:13px;
}
.body .login li p img
{
    margin: 0px;
    width: 32px;
    height: 32px;
    padding: 0px;
    vertical-align:text-bottom;
}


.body .login li .btnlogin 
{
    float: right;
    border: none;
	width:32px;
	height:32px;
	cursor:pointer;
    background: url("../images/icons/login.png") no-repeat;
    
}

.body .login .message 
{
    width: 665px;
    margin: 20px 0px 0px 40px;
    padding: 0px;
    background-color: lemonchiffon;
}

.validatorCalloutHighlight
{
    background-color: lemonchiffon;
}

